@charset "utf-8";

@media (max-width:1200px) {
    .container{
        width: 100%;
    }
    .row{
        padding: 0 20px;
    }

    /* .banner .mySwiper figure a img{
        width: 140%;
    } */

    .ad a figure figcaption{
        width: 60%;
    }
    .ad a figure img{
        width: 25%;
    }

    .tabmenu{
        width: 100%;
    }
    .tabmenu div ul li{
        margin-right: 20px;
    }
    .tabmenu div ul li:last-child{
        margin-right: 0px;
    }
    .tabmenu div ul li figure img{
        width: 100%;
    }

    .md{
        width: 100%;
        height: 280px;
    }
    .md .left_area{
        width: 25%;
    }
    .md .right_area{
        width: 75%;
    }
    .md .right_area .md_swiper{
        width: 100%;
    }
    .md .right_area .md_swiper figure img{
        width: 230px;
        height: 230px;
    }
    .md .right_area .md_swiper figure figcaption{
        width: 230px;
        height: 230px;
    }

    #footer .row{
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width:980px) {
    .header .h_nav ul li a{
        font-size: 25px;
    }
    .header .h_nav ul li::after{
        top:15px;
    }

    .banner .mySwiper figure figcaption{
        margin: 30px;
    }
    .banner .mySwiper figure figcaption p{
        font-size: 30px;
    }

    .ad>div{
        height: 150px;
    }
    .ad a figure{
        height: 150px;
    }
    .ad a figure figcaption{
        padding: 20px;
    }
    .ad a figure figcaption p{
        font-size: 13px;
    }
    .ad a figure figcaption b{
        font-size: 15px;
    }
    .ad a figure .adIcon{
        width: 25px;
        font-size: 12px;
        bottom: 15px;
        left:20px;
    }

    .md{
        height: 260px;
    }
    .md .left_area .md_desc{
        font-size: 14px;
    }
    .md .right_area .md_swiper figure img{
        width: 200px;
        height: 200px;
    }
    .md .right_area .md_swiper figure figcaption{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:860px) {
    .header{
        height: 120px;
    }
    .header .h_logo a img{
        width: 120px;
    }
    .header .h_nav ul li a{
        font-size: 20px;
    }
    .header .h_nav ul li::after{
        width: 3px;
        height: 3px;
        left:-15px;
        top:13px;
    }

    .banner .mySwiper figure a img{
        width: 1400px;
    }

    .search select{
        font-size: 15px;
        font-weight: 500;
    }
    .search form a img{
        width: 20px;
    }
    .search form input{
        font-size: 15px;
    }

    .banner{
        padding: 20px 0 20px 0;
    }
    .banner .mySwiper figure figcaption{
        margin: 0 20px 20px 40px;
    }
    .banner .mySwiper figure figcaption p{
        font-size: 25px;
    }

    .ad>div{
        height: 130px;
    }
    .ad a figure{
        height: 130px;
    }
    .ad a figure figcaption p{
        font-size: 12px;
    }
    .ad a figure figcaption b{
        font-size: 13px;
    }
    .ad a figure .adIcon{
        width: 20px;
        font-size: 11px;
        bottom: 15px;
    }
    .ad a figure img{
        right:50px;
    }

    .tabmenu div ul li:nth-child(5){
        display: none;
    }
    .tabmenu div ul li:nth-child(4){
        margin-right: 0px;
    }
    .tabmenu ul li a{
        font-size: 24px;
    }
    .tabmenu>ul>li:first-child:after{
        left:80px;
        bottom: 38px;
    }

    .md{
        height: 220px;
    }
    .md .left_area{
        padding-right: 40px;
    }
    .md .left_area .md_title{
        font-size: 24px;
    }
    .md .left_area .md_desc{
        font-size: 13px;
        margin-top: 10px;
    }
    .md .right_area .md_swiper figure img{
        width: 165px;
        height: 165px;
    }
    .md .right_area .md_swiper figure figcaption{
        width: 165px;
        height: 165px;
    }
    .md .right_area .md_swiper figure figcaption p{
        font-size: 14px;
    }
    .md .right_area .swiper-button-prev{
        top:180px;
        left:0px;
    }
    .md .right_area .swiper-button-next{
        top:180px;
        left:50px;
    }

    .randomSentence{
        height: 300px;
    }
    .randomTitle{
        font-size: 24px;
    }
    .randomSentence .random_title{
        font-size: 20px;
    }
    .randomSentence .randombox{
        width: 180px;
        height: 180px;
    }
    .randomSentence .randombox::before{
        background: url(../img/marks1.png) no-repeat 0 0;
        background-size: 20px;
        width: 20px;
        height: 20px;
        bottom: 10px;
        right:10px;
    }
    .randomSentence .randombox::after{
        background: url(../img/marks2.png) no-repeat 0 0;
        background-size: 20px;
        width: 20px;
        height: 20px;
        top: 10px;
        left:10px;
    }
    .randomSentence .randombox .random_sentence{
        width: 120px;
        font-size: 17px;
    }

    .footer .f_service{
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

@media (max-width:720px) {
    .header{
        height: 150px;
        flex-direction: column;
        align-items: center;
    }
    .header .h_logo a img{
        width: 100px;
    }
    .header .h_nav ul{
        /* margin: 10px 0 10px 0; */
        padding-bottom: 20px;
    }
    .header .h_nav ul li a{
        font-size: 17px;
    }
    .header .h_nav ul li::after{
        left:-18px;
        top:10px;
    }

    #search .row{
        border-top: 1px solid #8fb087;
    }
    .search{
        width: 500px;
    }
    .search select{
        font-size: 13px;
    }
    .search form input{
        font-size: 13px;
    }
    .search form a{
        right:20px;
        top:10px;
    }

    .banner{
        padding: 10px 0 20px 0;
    }
    .banner .mySwiper figure figcaption p{
        /* font-size: 20px; */
    }
    .banner .mySwiper figure a img{
        width: 1200px;
    }

    .ad>div{
        height: 120px;
    }
    .ad a figure{
        height: 120px;
    }
    .ad a figure figcaption{
        padding: 15px;
    }
    .ad a figure figcaption p{
        font-size: 11px;
        margin-bottom: 5px;
    }
    .ad a figure figcaption b{
        font-size: 12px;
    }
    .ad a figure .adIcon{
        width: 18px;
        font-size: 10px;
        left:15px;
        bottom: 10px;
    }

    .md{
        height: 180px;
    }
    .md .left_area .md_desc{
        margin-top: 5px;
    }
    .md .right_area .md_swiper figure img{
        width: 140px;
        height: 140px;
    }
    .md .right_area .md_swiper figure figcaption{
        width: 140px;
        height: 140px;
    }
    .md .right_area .md_swiper figure figcaption p{
        font-size: 12px;
    }
    .md .right_area .swiper-button-prev{
        top:165px;
        left:0px;
        width: 30px;
        height: 30px;
    }
    .md .right_area .swiper-button-next{
        top:165px;
        left:40px;
        width: 30px;
        height: 30px;
    }
    .md .right_area .swiper-button-prev::after{
        font-size: 12px;
    }
    .md .right_area .swiper-button-next::after{
        font-size: 12px;
    }
}

@media (max-width:680px) {
    .ad>div{
        height: 120px;
    }
    .ad a figure{
        height: 120px;
    }
    .ad a figure figcaption p{
        margin-bottom: 0;
    }
    .ad a figure figcaption{
        width: 65%;
    }
    .ad a figure img{
        right:30px;
    }
}

@media (max-width:620px) {
    .search{
        width: 400px;
    }
    .search select{
        padding: 5px 10px;
    }
    .search form input{
        padding: 5px 10px;
    }
    .search form a{
        right:10px;
        top:8px;
    }
    .search form a img{
        width: 15px;
    }

    .ad a figure figcaption{
        width: 70%;
    }
    .ad a figure figcaption b{
        font-size: 11px;
    }
    .ad a figure img{
        /* width: 20%; */
        top:10px;
        right:15px;
    }
    /* .ad a figure .adIcon{
        left:50%;
        transform: translateX(-50%);
        bottom: 10px;
    } */

    .tabmenu div ul li:nth-child(4){
        display: none;
    }
    .tabmenu div ul li:nth-child(3){
        margin-right: 0px;
    }
    .tabmenu ul li a{
        font-size: 20px;
    }
    .tabmenu>ul>li:first-child::after{
        width: 0;
        height: 0;
    }
    .tabmenu>ul>li:first-child{
        margin-right: 20px;
    }

    .md{
        height: 160px;
    }
    .md .left_area{
        width: 35%;
        padding-right: 20px;
        height: 160px;
    }
    .md .left_area .md_title{
        font-size: 20px;
    }
    .md .left_area .md_desc{
        font-size: 12px;
    }
    .md .right_area{
        width: 65%;
    }
    .md .right_area .swiper-button-prev{
        top:145px;
    }
    .md .right_area .swiper-button-next{
        top:145px;
    }

    .randomSentence{
        height: 250px;
    }
    .randomTitle{
        font-size: 20px;
    }
    .randomSentence .random_title{
        font-size: 17px;
    }
    .randomSentence .randombox{
        width: 150px;
        height: 150px;
    }
    .randomSentence .randombox::before{
        background-size: 15px;
        width: 15px;
        height: 15px;
    }
    .randomSentence .randombox::after{
        background-size: 15px;
        width: 15px;
        height: 15px;
    }
    .randomSentence .randombox .random_sentence{
        width: 100px;
        font-size: 15px;
    }
    .randomSentence .author{
        margin-top: 5px;
    }
}

@media (max-width:580px) {
    .header .h_nav ul li a{
        font-size: 15px;
    }
    .header .h_nav ul li{
        margin-right: 15px;
    }
    .header .h_nav ul li::after{
        display: none;
    }

    .banner .mySwiper figure a img{
        width: 1000px;
    }

    .ad>div{
        width: 100%;
        height: 100px;
    }
    .ad .ad2{
        display: none;
    }
    .ad a figure{
        height: 100px;
    }
    .ad a figure figcaption{
        padding-top: 30px;
        width: 100%;
        text-align: center;
        height: 100px;
    }
    .ad a figure img{
        width: 18%;
        right:50px;
    }
}

@media (max-width:480px) {
    .header{
        justify-content: space-around;
        height: 140px;
    }
    .header .h_logo a img{
        width: 90px;
    }
    .header .h_nav ul{
        padding-bottom: 10px;
    }
    .header .h_nav ul li a{
        font-size: 14px;
    }

    .search{
        width: 350px;
    }
    .search select{
        font-size: 12px;
    }
    .search form input{
        font-size: 12px;
    }


    .banner .mySwiper figure figcaption{
        margin: 0 10px 10px 30px;
    }
    .banner .mySwiper figure figcaption p{
        font-size: 20px;
    }
    .banner .mySwiper figure a img{
        border-radius: 20px;
        width: 900px;
    }
    

    .ad>div{
        border-radius: 10px;
    }
    .ad a figure{
    }
    .ad a figure img{
        top:5px;
        right:15px;
    }

    .tabmenu div ul{
        display: block;
    }
    .tabmenu div ul li{
        width: 100%;
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .tabmenu ul li a{
        font-size: 15px;
    }
    .tabmenu div ul li figure{
        display: flex;
        padding: 10px 40px;
    }
    .tabmenu div ul li figure img{
        /* width: 100px; */
        width: 30%;
    }
    .tabmenu div ul li figure figcaption{
        margin-left: 15px;
    }

    .tabmenu div ul li figure figcaption .b_title{
        font-size: 13px;
    }
    .tabmenu div ul li figure figcaption .b_author{
        font-size: 11px;
    }
    .tabmenu div ul li figure figcaption .s_title{
        font-size: 13px;
    }
    .tabmenu div ul li figure figcaption .s_author{
        font-size: 11px;
    }

    .md{
        height: 150px;
    }
    .md .left_area{
        padding-top: 0;
        height: 150px;
    }
    .md .left_area .md_title{
        font-size: 15px;
    }
    .md .right_area{padding-top:0;}
    .md .right_area .md_swiper figure img{
        width: 120px;
        height: 120px;
    }
    .md .right_area .md_swiper figure figcaption{
        width: 120px;
        height: 120px;
    }
    .md .right_area .swiper-button-prev{
        top:120px;
    }
    .md .right_area .swiper-button-next{
        top:120px;
    }

    .randomSentence{
        height: 200px;
    }
    .randomTitle{
        font-size: 15px;
    }
    .randomSentence .random_title{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .randomSentence .randombox{
        width: 120px;
        height: 120px;
    }
    .randomSentence .randombox::before{
        background-size: 10px;
        width: 10px;
        height: 10px;
    }
    .randomSentence .randombox::after{
        background-size: 10px;
        width: 10px;
        height: 10px;
    }
    .randomSentence .randombox .random_sentence{
        width: 80px;
        font-size: 12px;
    }
    .randomSentence .author{
        margin-top: 0px;
        font-size: 12px;
    }
}

@media (max-width:420px) {
    .header .h_nav ul li{
        margin-right: 10px;
    }

    .search{
        width: 300px;
    }
    .search select{
        font-size: 10px;
        padding: 3px 10px;
    }
    .search form input{
        font-size: 10px;
        padding: 3px 10px;
    }
    .search form a{
        top:8px;
        right:10px;
    }
    .search form a img{
        width: 10px;
    }

    .banner .mySwiper figure figcaption p{
        /* font-size: 15px; */
    }
    .tabmenu div ul li figure img{
    }

    .md{
        height: 140px;
    }
    .md .left_area{
        width: 60%;
        padding-right: 50px;
        height: 140px;
    }
    .md .right_area{
        width: 40%;
    }

}