@charset "utf-8";

/*layout*/
html{
    overflow-x: hidden;
}
#header{width: 100%;}

#search{width: 100%;}

#banner{}

#recommend{
    width: 100%;
}

#ad{}

#tabmenu{}

#md{}

#randomSentence{}

#footer{}

/*container*/
.container{
    width: 1200px;
    margin: 0 auto;
    height: inherit;
}

/*row*/
.row{}

/*header*/
.header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    /* background-color: #eee; */
}
.header .h_logo{}
.header .h_logo a{}
.header .h_logo a img{
    width: 150px;
}
.header .h_nav{
}
.header .h_nav ul{
    display: flex;
    align-items: center;
    height: 100%;
}
.header .h_nav ul li{
    margin-right: 30px;
    position: relative;
}
.header .h_nav ul li:first-child::after{
    width: 0;
    height: 0;
}
.header .h_nav ul li::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #696969;
    left:-18px;
    top:20px;
    border-radius: 50%;
}
.header .h_nav ul li:last-child{
    /* margin-right: 20px; */
    margin-right: 0;
}
.header .h_nav ul li a{
    font-size: 30px;
    font-weight: bold;
}
.header .h_nav ul li a:hover{
    color:#8fb087;
    /* font-weight: bold; */
    transition: all 0.5s;
}

/*search*/
.search{
    margin: 20px auto;
    /* padding: 10px 20px; */
    display: flex;
    justify-content: left;
    border: solid 2px #8fb087;
    border-radius: 30px;
    width: 700px;
    position: relative;
}
.search select{
    padding: 10px 20px;
    /* margin: 0 0 0 20px; */
    font-size: 20px;
    font-weight: bold;
    border: transparent;
    border-radius: 30px;
    outline: none;
    background-color: #fff;
}
.search select option{
    /* padding: 10px 20px; */
}
.search form{}
.search form input{
    border: transparent;
    padding: 10px 30px;
    outline: none;
    font-size: 20px;
}
.search form a{
    position: absolute;
    right:20px;
    top:15px;
}
.search form a img{}

/*banner*/
.banner{
    padding: 30px 0 30px 0;
}
.banner .mySwiper{}
.banner .mySwiper figure{}
.banner .mySwiper figure figcaption{
    margin: 40px;
}
.banner .mySwiper figure figcaption p{
    font-size: 40px;
    font-weight: bold;
    color:#111;
}
.banner .mySwiper figure a{}
.banner .mySwiper figure a img{
    border-radius: 30px;
}
.banner .mySwiper figure {}

/*recommend*/
.recommend{width: 100%;}
.recommend h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.recommend .rec_box{
    display: flex;
    justify-content: space-between;
}
.recommend .rec_box .boxs{
    width: 49%;
    display: flex;
    flex-direction: column;
}
.recommend .rec_box .boxs div{
    height: 318px;
    overflow: hidden;
    background-size: 150%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;
    border-radius: 20px;
}
.recommend .rec_box .boxs img{
    margin: 0 auto;
    margin-top: 30px;
}
.recommend .rec_box .boxs p{
    margin-left: 10px;
}
.recommend .rec_box .boxs .rec1_title, .rec2_title{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}
.recommend .rec_box .boxs .rec1_author, .rec2_author{}

.recommend .btn{
    display: block;
    font-size: 16px;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px 80px;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
}
.material-symbols-outlined{
    vertical-align: -4px;
    font-weight: 100;
    font-size: 20px;
    margin-right: 5px;
}
.recommend .btn:hover{
    border-color:#8fb087;
    transition: all 1s;
}



/* .recommend .rec_box .box1{
    width: 49%;
    height: 318px;
    overflow: hidden;
    background-size: 150%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    border-radius: 20px;
}
.recommend .rec_box div img{
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 1px 1px 10px #000;
} */
.recommend .rec_box div:first-child{
    /* margin-right: 2%; */
}
.recommend .rec_box .box1{
    position: relative;
}
.recommend .rec_box .box1 img{
}
.recommend .rec_box .box2{}

.recommend .btn{
    justify-content: center;
}

/*ad*/
.ad{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.ad>div{
    width: 49%;
    height: 180px;
    background-color: #f2f2f2;
    border-radius: 20px;
    overflow: hidden;
}
.ad .ad1{}
.ad .ad1 a{}
.ad a figure{
    position: relative;
    height: 180px;
}
.ad a figure figcaption{
    padding: 30px;
}
.ad a figure figcaption p{
    font-size: 15px;
    margin-bottom: 15px;
}
.ad a figure figcaption b{
    font-size: 18px;
}
.ad a figure .adIcon{
    background-color: #d9d9d9;
    width: 30px;
    font-size: 14px;
    color:#fff;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    left:30px;
}
.ad a figure img{
    width: 150px;
    position: absolute;
    top:0px;
    right:70px;
    box-shadow: 30px 30px 10px #999;
    transform: rotate(20deg);
}
/* .ad .ad1:hover a figure img{
    top:10px;
    transition: all 1s;
} 마우스오버시 책 움직이기*/

/*tabmenu*/
.tabmenu{
    width: 1200px;
}
.tabmenu ul{}
.tabmenu>ul>li{
    float: left;
    padding-bottom: 30px;
    position: relative;
}
.tabmenu>ul>li:first-child:after{
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #f1f1f1;
    bottom: 40px;
    left:97px;
}
.tabmenu>ul>li:first-child{
    margin-right: 30px;
}
.tabmenu ul li a{
    font-size: 30px;
    font-weight: bold;
    color:#f1f1f1;
}
.tabmenu ul li a:hover{
    color:#696969;
    transition: color 0.8s;
}
.tabmenu ul li.active a{
    color:#767676;
}
.tabmenu .best_rank{}
.tabmenu div ul{
    display: flex;
    justify-content: space-between;
}
.tabmenu div ul li{}
.tabmenu div ul li figure{
    position: relative;
}
.tabmenu div ul li:first-child figure .rank{
    font-size: 14px;
    font-weight: bold;
    background-color: #8fb087;
    color:#fff;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px 0;
}
.tabmenu div ul li figure .rank{
    font-size: 12px;
    font-weight: bold;
    background-color: #767676;
    color:#fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px 0;
    position: absolute;
    top:0;
    left:0;
}
.tabmenu div ul li figure img{
    border-radius: 5px 0 0 0;
}
.tabmenu div ul li figure figcaption{
    margin-top: 15px;
}
.tabmenu div ul li figure figcaption .b_title{
    font-size: 15px;
    font-weight: bold;
}
.tabmenu div ul li figure figcaption .b_author{
    font-size: 13px;
    margin-top: 5px;
}
.tabmenu div ul li figure figcaption .s_title{
    font-size: 15px;
    font-weight: bold;
}
.tabmenu div ul li figure figcaption .s_author{
    font-size: 13px;
    margin-top: 5px;
}

/*md*/
.md{
    width: 1200px;
    height: 300px;
    display: flex;
    margin-top: 30px;
    position: relative;
}
.md .left_area{
    width: 300px;
    padding: 24px 72px 0 0;
}
.md .left_area .md_title{
    font-size: 30px;
    font-weight: bold;
}
.md .left_area .md_desc{
    font-size: 16px;
    margin-top: 20px;
}
.md .right_area{
    padding-top: 24px;
    width: 900px;
}
.md .right_area .md_swiper{
    width: 900px;
    overflow: hidden;
}
.md .right_area .md_swiper figure{
    border-radius: 50%;
    position: relative;
}
.md .right_area .md_swiper figure img{
    border-radius: 50%;
    width: 276px;
    height: 276px;
}
.md .right_area .md_swiper figure figcaption{
    width: 276px;
    height: 276px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
}
.md .right_area .md_swiper figure:hover figcaption{
    opacity: 0.6;
    transition: all 0.5s;
}
.md .right_area .md_swiper figure figcaption p{
    color:#fff;
    font-weight: bold;
}
.md .right_area .md_swiper figure figcaption .md_subtitle{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
.md .right_area .md_swiper figure figcaption .md_price{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
}
.md .right_area .swiper-button-prev{
    top:220px;
    left:0px;
    color:#000;
    border: 1px solid #999;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.md .right_area .swiper-button-prev::after{
    font-size: 15px;
    font-weight: bold;
}
.md .right_area .swiper-button-next{
    top:220px;
    left:50px;
    color:#000;
    border: 1px solid #999;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.md .right_area .swiper-button-next::after{
    font-size: 15px;
    font-weight: bold;
}

/*randomSentence*/
.randomSentence{
    background-image: url(../img/randombg.png);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.randomTitle{
    font-size: 30px;
    margin-top: 10px;
    color:#696969;
}
.randomSentence .random_title{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
.randomSentence .randombox{
    width: 240px;
    height: 240px;
    background-color: #fff;
    box-shadow: 1px 1px 20px #888;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.randomSentence .randombox::before{
    background: url(../img/marks1.png) no-repeat 0 0;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 20px;
    right:20px;
}
.randomSentence .randombox::after{
    background: url(../img/marks2.png) no-repeat 0 0;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    left:20px;
}
.randomSentence .randombox .random_sentence{
    width: 150px;
    font-size: 20px;
}
.randomSentence .author{
    margin-top: 10px;
    font-size: 14px;
}

/*footer*/
#footer .container{
    width: 100%;
    border-top: 1px solid #f1f1f1;
}
#footer .row{
    width: 1200px;
    margin: 0 auto;
}
.footer{padding: 20px 0;}
.footer .f_head{
    display: flex;
    justify-content: space-between;
}
.footer .f_head .f_logo{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.footer .f_head .f_sns{
    display: flex;
}
.footer .f_head .f_sns li{
    margin-right: 5px;
}
.footer .f_head .f_sns li:last-child{
    margin-right: 0;
}
.footer .f_head .f_sns li a{}
.footer .f_head .f_sns li a img{
    width: 24px;
}
.footer .f_service{
    display: flex;
    margin-top: 24px;
}
.footer .f_service li{
    margin-right: 12px;
}
.footer .f_service li:last-child{
    margin-right: 0;
}
.footer .f_service li a{
    font-size: 12px;
}
.footer .f_copy{
    font-size: 10px;
    margin-top: 20px;
}